<!doctype html>
<html lang="en">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col radios center">
          <div class="form-check radios" *ngFor="let radio of ['Currencies', 'Companies']; let i = index">
            <input class="form-check-input" type="radio" name="currencyOrCompany" [value]="radio" (change)="onRadioCompaniesSelected($event)"
            [checked]="i === 0">
            <label class="form-check-label">
              <span class="radio-text">{{radio}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row" class="white-background">
        <ng-container *ngIf="companies; else option2">
          <ng-multiselect-dropdown
            [placeholder]="'Choose company'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)"
            class="custom-dropdown"
          >
          </ng-multiselect-dropdown>
        </ng-container>
        
        <ng-template #option2>
          <ng-multiselect-dropdown
            [placeholder]="'Choose currency'"
            [settings]="dropdownSettings"
            [data]="csvData"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            class="custom-dropdown"
          >
          </ng-multiselect-dropdown>
        </ng-template>
        
      </div>
    </div>
    
    <div class="col center">
      <!--
      <input type="date" class="form-control" (change)="onStartDateSelected($event)">

      <input type="date" class="form-control" (change)="onEndDateSelected($event)">
      -->
      <mat-form-field appearance="fill" class="mat-select-panel">
        <mat-label class="my-label">Choose an option</mat-label>
        <mat-select [(value)]="selectedOptionTime" placeholder="Mode" class="my-select" (selectionChange)="onOptionSelectedTimeBox($event)">
          <mat-option class="my-option" *ngFor="let option of ['1 min','5 min', '15 min', '30 min', '60 min', 'Daily', 'Weekly', 'Monthly'];let i = 'index';" [value]="option"  [value]="option" [hidden]="i < 5 && !companies">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    
    
    </div>
    <!--
    <div class="col radios">
      <div class="form-check radios" *ngFor="let radio of ['High', 'Low', 'Volume', 'Open', 'Close']; let i = index">
        <label class="form-check-label label-below">
        <input class="form-check-input" type="radio" name="parameters" [value]="radio" (change)="onRadioParamSelected($event)"
        [checked]="i === 0">
        <span class="radio-text">{{radio}}</span>
        </label>
      </div>
    </div>
    --->
  </div>

  

<div id="chart-and-table">

  <div id="chart" class="white-background">
    <app-candlestick-chart [title]="selectedLegendItem" [dataSet]="candlestickChartData"></app-candlestick-chart>
  </div>
  <div id="legend"><p>Legend</p>
    <div class="legend_item" *ngFor='let item of selectedItems' [ngClass]="{'selected_legend': item.split(',')[0] === selectedLegendItem}" (click)="selectItemInLegend($event)">{{item.split(',')[0]}}</div>
  </div>
  <div id="data-table" class="white-background">
    <app-data-table [tableData] ="tableData"></app-data-table>
  </div>
  <app-waiting-spinner [showOverlay]="isLoading"></app-waiting-spinner>
</div>

</html>











