:host ::ng-deep span.selected-item,
:host ::ng-deep .multiselect-dropdown[_ngcontent-ltx-c1] .dropdown-btn[_ngcontent-ltx-c1],
:host ::ng-deep .selected-item-container[_ngcontent-ltx-c1] .selected-item[_ngcontent-ltx-c1] {
  border: 1px solid black !important;
  margin-right: 4px !important;
  margin-bottom: 4px !important;
  background: pink !important;
  padding: 0 5px !important;
  color: #fff !important;
  border-radius: 2px !important;
  float: left !important;
}



:host ::ng-deep .multiselect-item-checkbox[_ngcontent-lcx-c1] input[type=checkbox]+div[_ngcontent-lcx-c1]:before {
    box-sizing: content-box;
    content: "";
    color: pink !important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid pink !important;
    text-align: center;
    transition: .4s;
    background: pink !important;
}


  .radios {
    display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  }

  .form-check-input:checked {
    background-color: pink;
    border-color: #CE00D3;
  }
  

  #chart {
    max-width: 650px;
    margin: 35px auto;
  }
  

  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox'] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox']:focus + div:before,
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox']:hover + div:before {
    border-color: pink !important;
    background-color: pink !important;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox']:active + div:before {
    transition-duration: 0s;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox'] + div {
    position: relative;
    padding-left: 2em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    margin: 0px;
    color: #000;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox'] + div:before {
    box-sizing: content-box;
    content: '';
    color: pink !important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid pink !important;
    text-align: center;
    transition: all 0.4s ease;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox'] + div:after {
    box-sizing: content-box;
    content: '';
    background-color: pink !important;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox']:disabled + div:before {
    border-color: pink !important;
  }
  
  :host ::ng-deep .multiselect-item-checkbox
    input[type='checkbox']:disabled:focus
    + div:before
    .multiselect-item-checkbox
    input[type='checkbox']:disabled:hover
    + div:before {
    background-color: inherit;
  }
  
  :host ::ng-deep .multiselect-item-checkbox
    input[type='checkbox']:disabled:checked
    + div:before {
    background-color: pink !important;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox'] + div:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: rgb(255, 255, 255) !important;
    border-width: 0 0 3px 3px;
    border-image: none;
    transform: rotate(-45deg) scale(0);
  }
  

  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox']:checked + div:before {
    animation: borderscale 200ms ease-in;
    background: pink !important;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type='checkbox']:checked + div:after {
    transform: rotate(-45deg) scale(1);
  }

  
  